<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Mi carrito - MunchieTaxi</title>

  <!-- Fonts -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet'
        type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel='stylesheet' type='text/css'>

  <!-- Styles -->
  <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
  <link href="stylesheets/bootstrap-custom.css" rel="stylesheet">
  <link href="stylesheets/main.css" rel="stylesheet">

  <style>
   .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {

    table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }
  
  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }
  
  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
  
  
  
  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}
  
}

/*@media (min-width: 400px) and (max-width: 600px){
  body {
    background: black;
  }
}*/
  </style>

</head>

<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">

      <!-- Collapsed Hamburger -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#spark-navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Branding Image -->
      <!--<a class="navbar-brand logo" href="{{ url('/') }}">-->
      <a class="navbar-brand logo" href="/">
        MunchieTaxi
      </a>
    </div>

    <div class="collapse navbar-collapse" id="spark-navbar-collapse">
      <!-- Left Side Of Navbar -->
      <ul class="nav navbar-nav">
        <li><a href="/">Inicio</a></li>
      </ul>

      <!-- Right Side Of Navbar -->
      <ul class="nav navbar-nav navbar-right">
        <!-- Authentication Links -->
        <!--@if (Auth::guest())-->
        <!--@else-->
        <li class="active"><a href="carrito"><i class="fa fa-btn fa-shopping-cart"></i> Mi carrito</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Usuario <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <!--<li><a href="{{ url('/logout') }}"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>-->
            <li><a href="usuario"><i class="fa fa-btn fa-user"></i> Mi cuenta</a></li>
            
            <li><a href="detalles-pago"><i class="fa fa-btn fa-truck"></i> Datos de Pago y Envío</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="login"><i class="fa fa-btn fa-sign-out"></i> Cerrar sesión</a></li>
          </ul>
        </li>
        <!--@endif-->
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Mi carrito</div>
      <form class="panel-body" role="form" method="POST" action="#">
        <div class="shopping">
          <table id="cart" class="table table-hover table-condensed table-responsive">
                <thead>
                  <tr>
                    <th style="width:50%">Producto</th>
                    <th style="width:10%">Precio</th>
                    <th style="width:8%">Cantidad</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-th="Producto">
                      <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="images/restaurants/generic/peperonni.jpg" style="width: 72px; height: 72px;" alt="..." class=""/></div>
                        <div class="col-sm-10">
                          <h4 class="media-heading"> Dominos Pizza - Pizza Pepperoni</h4>
                          <h5 class="media-heading"> Pizza mediana con pepperoni</h5> 
                        </div>
                      </div>
                    </td>
                    <td data-th="Precio">$100</td>
                    <td data-th="Cantidad">
                      <input type="number" class="form-control text-center" value="1">
                       <!-- <div class="js-qty">
                              <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="" data-qty="0">−
                              </button>
                              <input type="text" class="js-qty__num" value="0" min="0" data-id="" aria-label="quantity"
                                     pattern="[0-9]*" name="quantity" id="">
                              <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="" data-qty="11">+
                              </button>
                            </div> -->
                    </td>
                    <td data-th="Subtotal" class="text-center">100</td>
                    <td class="actions" data-th="">
                      <!-- <button class="btn btn-info btn-sm"><i class="refresh"></i></button> -->
                      <button class="btn btn-danger btn-sm"><i class="trash">Remover</i></button>                
                    </td>
                  </tr>
                   <tr>
                    <td data-th="Producto">
                      <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="images/restaurants/generic/pizza%20margarita.jpg" style="width: 72px; height: 72px;" alt="..." class=""/></div>
                        <div class="col-sm-10">
                          <h4 class="media-heading"> Dominos Pizza - Pizza Margarita</h4>
                          <h5 class="media-heading"> Pizza mediana condimentada con tomate</h5>
                        </div>
                      </div>
                    </td>
                    <td data-th="Precio">$100</td>
                    <td data-th="Cantidad">
                      <input type="number" class="form-control text-center" value="1">
                    </td>
                    <td data-th="Subtotal" class="text-center">100</td>
                    <td class="actions" data-th="">
                      <!-- <button class="btn btn-info btn-sm"><i class="refresh"></i></button> -->
                      <button class="btn btn-danger btn-sm"><i class="trash">Remover</i></button>                
                    </td>
                  </tr>
                   <tr>
                    <td data-th="Producto">
                      <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="images/restaurants/generic/pizza-hawaina-02.png" style="width: 72px; height: 72px;" alt="..." class=""/></div>
                        <div class="col-sm-10">
                          <h4 class="media-heading"> Pizza Hut - Pizza Hawaiana</h4>
                          <h5 class="media-heading"> Pizza mediana con jamón y piña</h5>
                        </div>
                      </div>
                    </td>
                    <td data-th="Precio">$150</td>
                    <td data-th="Cantidad">
                      <input type="number" class="form-control text-center" value="1">
                    </td>
                    <td data-th="Subtotal" class="text-center">150</td>
                    <td class="actions" data-th="">
                      <!-- <button class="btn btn-info btn-sm"><i class="refresh"></i></button> -->
                      <button class="btn btn-danger btn-sm"><i class="trash">Remover</i></button>                
                    </td>
                  </tr>
                   <tr>
                    <td data-th="Producto">
                      <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="images/restaurants/generic/pizza%20romana.jpg" style="width: 72px; height: 72px;" alt="..." class=""/></div>
                        <div class="col-sm-10">
                          <h4 class="media-heading">Pizza Hut - Pizza Romana</h4>
                          <h5 class="media-heading"> Pizza mediana con jamón, champiñones, aceitunas negras</h5>
                        </div>
                      </div>
                    </td>
                    <td data-th="Precio">$150</td>
                    <td data-th="Cantidad">
                      <input type="number" class="form-control text-center" value="1">
                    </td>
                    <td data-th="Subtotal" class="text-center">150</td>
                    <td class="actions" data-th="">
                      <!-- <button class="btn btn-info btn-sm"><i class="refresh"></i></button> -->
                      <button class="btn btn-danger btn-sm"><i class="trash">Remover</i></button>                
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <div>
                      <tr>                      
                        <td class="h5">Subtotal <span class="text-right h5"><strong>$500 MXN</strong></span></td>    
                      </tr>
                      <tr>
                          <td class="h5">Gasto de envio</td>
                          <td class="text-right h5"><strong>$80 MXN</strong></td>
                      </tr>
                      <tr>
                          <td><h3>Total</h3></td>
                          <td class="text-right"><h3><strong>$580 MXN</strong></h3></td>
                      </tr>
                      <tr>
                        <td>
                        <a class="btn btn-default" href="/">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Seguir comprando
                        </a></td>
                        <td>
                        <a class="btn btn-success" href="detalles-pago">
                            Comprar <span class="glyphicon glyphicon-play"></span>
                        </a></td>
                      </tr>
                  </div>
                </tfoot>          
          </table>
        </div>
      </form>  
    </div>  
</div>

<footer id="footer">
  <% include partials/footer %>
</footer>

<!-- JavaScripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
