<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MunchieTaxi</title>

    <!-- Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel='stylesheet' type='text/css'>
    <link href="fonts/MyIcons/flaticon.css" rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="stylesheets/bootstrap-custom.css" rel="stylesheet">
    <link href="stylesheets/main.css" rel="stylesheet">
    <!-- Pointy Slider -->
    <link rel="stylesheet" href="scripts/pointy-slider/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="scripts/pointy-slider/css/style.css"> <!-- Resource style -->
</head>

<body id="app-layout" ng-app="munchieTaxiApp">

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">

      <!-- Collapsed Hamburger -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#spark-navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Branding Image -->
      <!--<a class="navbar-brand logo" href="{{ url('/') }}">-->
      <a class="navbar-brand logo" href="index.html">
        MunchieTaxi
      </a>
    </div>

    <div class="collapse navbar-collapse" id="spark-navbar-collapse">
      <!-- Left Side Of Navbar -->
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Inicio</a></li>      </ul>

      <!-- Right Side Of Navbar -->
      <ul class="nav navbar-nav navbar-right">
        <!-- Authentication Links -->
        <!--@if (Auth::guest())-->
        <li><a href="./login.html">Iniciar sesión</a></li>
        <li><a href="./registro.html">Registrarse</a></li>        
        <li><a href="carrito.html"><i class="fa fa-btn fa-shopping-cart"></i> Mi carrito</a></li>
        <!--@else-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Usuario <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <!--<li><a href="{{ url('/logout') }}"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>-->
            <li><a href="usuario.html"><i class="fa fa-btn fa-user"></i> Mi cuenta</a></li>
            <li><a href="detalles-pago.html"><i class="fa fa-btn fa-truck"></i> Datos de Pago y Envío</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="login.html"><i class="fa fa-btn fa-sign-out"></i> Cerrar sesión</a></li>
          </ul>
        </li>
        <!--@endif-->
      </ul>
    </div>
  </div>
</nav>


<main class="container-fluid" ng-controller="MainController as mainCtrl">
  <!-- Cart summary -->
  <section class="cart-summary  col-lg-push-10 col-lg-2">
    <!-- <h1 class="h3">Resumen Carrito</h1>
    <ul>
      <li>Elemento 1</li>
      <li>Elemento 2</li>
      <li>Elemento 3</li>
    </ul> -->

    <table class="table table-hover">
      <thead>
      <tr>
        <th class="col-sm-1 col-md-1">Productos</th>
        <th class="col-sm-1 col-md-1 text-center">Precio</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <h4 style="margin: 0 0 5px;"><a href="#">4 articulos</a></h4>
          <p style="margin: 0;">Envío $80 MXN</p>
        </td>
        <td class="text-center"><strong>$500 MXN</strong></td>
      </tr>
      <tr>
        <td><h4>Total</h4></td>
        <td class="text-center"><h5><strong>$580 MXN</strong></h5></td>
      </tr>
      </tbody>
    </table>

  </section><!-- /Cart summary -->


  <!-- Search Restaurant -->
  <section class="search-area  col-lg-pull-2 col-lg-offset-2 col-lg-8" ng-controller="SearchController as searchCtrl">
    <h1 class="h2">Buscar</h1>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="form-group col-sm-8">
            <input type="text" class="form-control" name="buscar_restaurante" placeholder="Restaurante" ng-model="searchTerm">
          </div>
          <div class="form-group col-sm-4">
            <button type="button" class="btn-block btn btn-primary" ng-click="processSearch(searchTerm, region)">Buscar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="form-group">
          <label>Area del restaurante</label>
          <select class="form-control" ng-model="region">
            <option value="monterrey">Monterrey</option>
            <option value="z1">Zona 1</option>
            <option value="z2">Zona 2</option>
            <option value="z3">Zona 3</option>
          </select>
        </div>
      </div>
    </div>

  </section><!-- /Search Restaurant -->


  <!-- Ad -->
  <!-- <aside class="ads  col-lg-offset-2 col-lg-8" ng-class="{compressed: isAddCompressed }">
    <h1 class="h3">Promociones</h1>
    <a href="" ng-click="isAddCompressed = false">
      <img src="images/ads/PremiumSinglesPizzaHut.jpg" class="img-responsive center-block">
    </a>
  </aside> --><!-- /Ad -->

<!-- Slider Promociones -->
  <section class="ads  col-lg-offset-2 col-lg-8" ng-class="{compressed: isAddCompressed }">
    <div class="cd-slider-wrapper">
      <ul class="cd-slider">
        <li class="is-visible">
          <div class="cd-half-block image"></div>

          <div class="cd-half-block content">
            <div>
              <h2>Promo 1</h2>
              <p>
                2 X 1 En todas las pizzas!
              </p>
            </div>
          </div>
        </li> <!-- .cd-half-block.content -->

        <li>
          <div class="cd-half-block image"></div>

          <div class="cd-half-block content light-bg">
            <div>
              <h2>Promo 2</h2>
              <p>
                Llevate el reresco gratis en la compra de 2 hamburguesas.
              </p>
            </div>
          </div> <!-- .cd-half-block.content -->
        </li>

        <li>
          <div class="cd-half-block image"></div>

          <div class="cd-half-block content">
            <div>
              <h2>Promo 3</h2>
              <p>
                50% de descuento con este código! <em>munchiepromo</em>
              </p>
            </div>
          </div> <!-- .cd-half-block.content -->
        </li>

        <li>
          <div class="cd-half-block image"></div>

          <div class="cd-half-block content">
            <div>
              <h2>Promo 4</h2>
              <p>
                Compra un combo y paga solo la mitad del segundo!
              </p>
            </div>
          </div> <!-- .cd-half-block.content -->
        </li>
      </ul> <!-- .cd-slider -->
    </div> <!-- .cd-slider-wrapper -->
  </section>
  <!-- End Slider Promociones -->


  <!-- Results -->
  <section class="results  col-lg-offset-2 col-lg-8" ng-controller="ResultsController as resultsCtrl">
    <h1 class="h3">Resultados</h1>

    <!-- Results navigation -->
    <nav class="results-nav" role="toolbar" aria-label="Barra de Navegación de resultados">
      <div class="row">

        <!-- Tabs -->
        <div class="col-sm-8 col-md-7 col-md-offset-1">
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active" ng-class="{ active: isSelected(0) }">
              <a href="" aria-controls="content-categories" role="tab" ng-click="selectTab(0)">
                Categorias
              </a>
            </li>
            <li role="presentation" class="" ng-class="{ active: isSelected(1) }">
              <a href="" aria-controls="content-restaurants" role="tab" ng-click="selectTab(1)">
                Restaurantes
              </a>
            </li>
          </ul>
        </div><!-- /Tabs -->

        <!-- Items ordering button -->
        <div class="col-sm-4 col-md-3">
          <div class="dropdown">

            <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ordernado por <span ng-bind-html="getOrderbyLabel()"></span> <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a ng-click="orderBy('alphabet')"><span class="fa fa-sort-alpha-asc" aria-hidden="true"></span> Alfabeto</a></li>
              <li><a ng-click="orderBy('popularity')"><span class="fa fa-fire" aria-hidden="true"></span> Popularidad</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click="orderBy('location')"><span class="fa fa-location-arrow" aria-hidden="true"></span> Cercanía</a></li>
            </ul>

          </div>
        </div><!-- /Items ordering button -->

      </div>
    </nav><!-- /Results navigation -->


    <!-- Results Items area -->
    <div class="results-items ng-cloak">

      <!-- Results Items navigation -->
      <nav class="">
        <ol class="breadcrumb">
          <li><a nhref="{{resultsCtrl.resultType}}/{{searchTerm}}" ng-click="processItem(0)">{{resultsCtrl.resultType}} ({{searchTerm}})</a></li>
          <li ng-show="resultsCtrl.isSelected(0)"><a href="" ng-click="processItem(1)">Restaurantes</a></li>
          <li class="-active"><a href="" ng-click="processItem(2)">restaurant-menu</a></li>
        </ol>
      </nav><!-- /Results Items navigation -->

      <!-- Results Items tab panes -->
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <div class="tab-content">

            <div id="content-categories" class="" role="tabpanel" ng-show="isOnStep(0)">
              <article class="cat-item" ng-repeat="category in categories" ng-click="resultsCtrl.processItem(category)">
                <a href=""><span ng-class="category.iconClass"></span><h1>{{category.name}}</h1></a>
              </article>
            </div>

            <div id="content-restaurants" class="" role="tabpanel" ng-show="isOnStep(1)">
              <article class="cat-item" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12]" ng-click="resultsCtrl.processItem(n)">
                <a href=""><h1>Restaurante</h1></a>
              </article>
            </div>

            <div id="content-menu" class="" role="tabpanel" ng-show="isOnStep(2)">

              <div class="cat-item"></div>

              <h1>Menu</h1>
              <p>
                Selecciona el tipo de pizza deseado. Tamaño de la pizza mediana.
              </p>
              <div class="clearfix"></div>

              <ul class="media-list">
                <li class="media">
                  <div class="row">
                    <div class="col-xs-12">
                      <img class="pull-left img-responsive" src="images/restaurants/generic/pizza-hawaina-02.png" alt="...">
                      <div class="pull-right text-center">
                        <div class="js-qty">
                          <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="" data-qty="0">−
                          </button>
                          <input type="text" class="js-qty__num" value="0" min="0" data-id="" aria-label="quantity"
                                 pattern="[0-9]*" name="quantity" id="">
                          <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="" data-qty="11">+
                          </button>
                        </div>
                        <span><strong>$150.00 c/u</strong></span>
                      </div>
                      <h4 class="">Pizza Hawaiana</h4>
                      Pizza mediana con jamón y piña.
                    </div>
                  </div>
                </li>

                <li class="media">
                  <div class="row">
                    <div class="col-xs-12">
                      <img class="pull-left img-responsive" src="images/restaurants/generic/pizza%20romana.jpg" alt="...">
                      <div class="pull-right text-center">
                        <div class="js-qty">
                          <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="" data-qty="0">−
                          </button>
                          <input type="text" class="js-qty__num" value="0" min="0" data-id="" aria-label="quantity"
                                 pattern="[0-9]*" name="quantity" id="">
                          <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="" data-qty="11">+
                          </button>
                        </div>
                        <span><strong>$150.00 c/u</strong></span>
                      </div>
                      <h4 class="">Pizza Romana</h4>
                      Pizza mediana con jamón, champiñones, aceitunas negras.
                    </div>
                  </div>
                </li>

                <li class="media">
                  <div class="row">
                    <div class="col-xs-12">
                      <img class="pull-left img-responsive" src="images/restaurants/generic/peperonni.jpg" alt="...">
                      <div class="pull-right text-center">
                        <div class="js-qty">
                          <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="" data-qty="0">−
                          </button>
                          <input type="text" class="js-qty__num" value="0" min="0" data-id="" aria-label="quantity"
                                 pattern="[0-9]*" name="quantity" id="">
                          <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="" data-qty="11">+
                          </button>
                        </div>
                        <span><strong>$100.00 c/u</strong></span>
                      </div>
                      <h4 class="">Pizza Pepperoni</h4>
                      Pizza mediana con pepperoni.
                    </div>
                  </div>
                </li>

                <li class="media">
                  <div class="row">
                    <div class="col-xs-12">
                      <img class="pull-left img-responsive" src="images/restaurants/generic/pizza%20margarita.jpg" alt="...">
                      <div class="pull-right text-center">
                        <div class="js-qty">
                          <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="" data-qty="0">−
                          </button>
                          <input type="text" class="js-qty__num" value="0" min="0" data-id="" aria-label="quantity"
                                 pattern="[0-9]*" name="quantity" id="">
                          <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="" data-qty="11">+
                          </button>
                        </div>
                        <span><strong>$100.00 c/u</strong></span>
                      </div>
                      <h4 class="">Pizza Margarita</h4>
                      Pizza mediana condimentada con tomate.
                    </div>
                  </div>
                </li>
              </ul>

            </div>

          </div>
        </div>
      </div><!-- /Results Items tab panes -->
      
    </div><!-- /Results Items area -->

  </section><!-- /Results -->
</main>

<footer id="footer">
  <div class="container">
    <div class="col-xs-12 col-md-7">
      <div class="row">
        <p class="text-muted">MunchieTaxi - La evolución de comida a domicilio <a href="http://munchietaxi.herokuapp.com/app">MunchieTaxi.herokuapp.com</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <p class="text-muted">Contacto</p>
        </div>
        <div class="col-xs-4 col-md-3">
          <p class="text-muted">Twitter</p>
        </div>
        <div class="col-xs-4 col-md-3">
          <p class="text-muted">Facebook</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- JavaScripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="angular/angular.min.js"></script>
<script src="angular/angular-animate.min.js"></script>
<script src="angular/angular-route.min.js"></script>
<script src="angular/angular-sanitize.min.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/search.js"></script>
<script src="scripts/controllers/results.js"></script>
<!-- Pointy Slider JS -->
<script src="scripts/pointy-slider/js/modernizr.js"></script> <!-- Modernizr -->
<script src="scripts/pointy-slider/js/jquery-2.1.4.js"></script>
<script src="scripts/pointy-slider/js/jquery.mobile.custom.min.js"></script>
<script src="scripts/pointy-slider/js/main.js"></script> <!-- Resource jQuery -->

</body>
</html>
