.logo {
  background: url("../images/logo.gif") no-repeat;
  background-size: 100% auto;
  height: 100%;
  width: 186px;
  display: block;
  text-indent: -9999px;
  margin-left: 20px; }
  @media (min-width: 768px) {
    .logo {
      margin-left: 0; } }

body {
  font-family: 'Lato',sans-serif; }

.fa-btn {
  margin-right: 6px; }

section.cart-summary,
section.search-area,
aside.ads,
section.results,
.results-items,
.results-nav {
  border: medium solid #269abc; }

.results-nav .btn {
  padding-top: 10px;
  padding-bottom: 10px; }

.cat-item {
  float: left;
  background-color: gray;
  height: 100px;
  margin-right: 5%;
  margin-bottom: 5%; }
  @media (max-width: 767px) {
    .cat-item {
      width: 30%; }
      .cat-item:nth-child(3n) {
        margin-right: 0;
        background-color: mediumpurple; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .cat-item {
      width: 21.25%; }
      .cat-item:nth-child(4n) {
        margin-right: 0;
        background-color: orange; } }
  @media (min-width: 1200px) {
    .cat-item {
      width: 16%; }
      .cat-item:nth-child(5n) {
        margin-right: 0;
        background-color: aquamarine; } }
