@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.logo {
  background: url("../images/logo.gif") no-repeat;
  background-size: 100% auto;
  height: 100%;
  width: 186px;
  display: block;
  text-indent: -9999px;
  margin-left: 20px; }
  @media (min-width: 768px) {
    .logo {
      margin-left: 0; } }

body {
  font-family: 'Open Sans', 'Lato',sans-serif; }

.fa-btn {
  margin-right: 6px; }

aside.ads {
  border-width: 2px 0;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.43);
  padding: 8px 0;
  transition: height 1s;
  height: 24em; }
  aside.ads.compressed {
    height: 10em; }
  aside.ads h1 {
    position: absolute; }
  aside.ads .img-responsive {
    max-height: 100%; }

.results-nav .btn {
  padding-top: 10px;
  padding-bottom: 10px; }

.cat-item {
  position: relative;
  float: left;
  background-color: rgba(230, 88, 53, 0.71);
  margin-right: 5%;
  margin-bottom: 5%; }
  .cat-item a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none;
    color: #fff; }
    .cat-item a span {
      display: block; }
      .cat-item a span:before {
        margin: 0 0 0 0;
        font-size: 450%; }
    .cat-item a h1 {
      margin-top: 0;
      font-size: 1em; }
    @media (max-width: 423.5px) {
      .cat-item a span:before {
        font-size: 300%; }
      .cat-item a h1 {
        margin-top: -10%;
        font-size: 0.8em; } }
    .cat-item a:hover {
      background-color: #f1a390;
      color: white; }
    .cat-item a:active {
      background-color: #e55430;
      transition: all 0.05s ease-out;
      top: -2.5%;
      bottom: -2.5%;
      left: -2.5%;
      right: -2.5%; }
  @media (max-width: 767px) {
    .cat-item {
      width: 30%;
      padding-bottom: 30%; }
      .cat-item:nth-child(3n) {
        margin-right: 0; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .cat-item {
      width: 21.25%;
      padding-bottom: 21.25%; }
      .cat-item:nth-child(4n) {
        margin-right: 0; } }
  @media (min-width: 1200px) {
    .cat-item {
      width: 16%;
      padding-bottom: 16%; }
      .cat-item:nth-child(5n) {
        margin-right: 0; } }

.js-qty, .ajaxcart__qty {
  position: relative;
  /*margin-bottom: 1em;*/
  max-width: 70px;
  /*min-width: 75px;*/
  width: 75px;
  overflow: visible;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.js-qty__adjust, .ajaxcart__qty-adjust {
  cursor: pointer;
  position: absolute;
  display: block;
  top: -1px;
  bottom: -1px;
  border: 0 none;
  background: none;
  text-align: center;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.js-qty__adjust--minus, .ajaxcart__qty--minus {
  left: 0; }

.js-qty__adjust--plus, .ajaxcart__qty--plus {
  right: 0; }

.js-qty input[type="text"], .ajaxcart__qty input[type="text"] {
  /*background: -webkit-linear-gradient(#F6F7F9, #E8E9EB) top repeat;*/
  /*background: linear-gradient(#F6F7F9, #E8E9EB) top repeat;*/
  background-color: #ebebeb;
  font-weight: bold; }

.js-qty input[type="text"], .ajaxcart__qty input[type="text"] {
  display: block;
  text-align: center;
  width: 100%;
  padding: 5px 25px;
  margin: 0;
  border-color: #8D8F93; }

#content-menu .img-responsive {
  display: block;
  max-width: 120px;
  height: auto;
  max-height: 80px;
  margin-right: 8px; }
